@yellow:#fffa19;
@green:#40D511;
@red:#F14007;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding_bgcolor(@ariba: 0px, @der: 0px, @abajo: 0px, @izq: 0px, @color_fondo: 'none') {
    padding: @ariba @der @abajo @izq;
    background-color: @color_fondo;
}


.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}

footer {
    .padding_bgcolor(10px, 10px, 0, 10px,@red);
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 250px; 
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon{
    padding-right: 10px;
}

.img-card{
    width:100%;
    height: 250px;
}

.card-footer{
    background-color: white !important;
}

.tab-content {
    padding-top: 20px;
    min-height: 500px;
}