$yellow: #fffa20;
$green:#40D511;
$red:#F14007;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin padding_footer($ariba, $der, $abajo, $izq, $color_fondo) {
    padding: 10px 10px 0 10px;
    background-color: $color_fondo;
}


.jumbotron {
    background-color:$yellow;
    color: black;
    @include margenes(50px, 0px);
}

footer {
    @include padding_footer(10px, 10px, 0, 10px,$green);
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 250px; 
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon{
    padding-right: 10px;
}

.img-card{
    width:100%;
    height: 250px;
}

.card-footer{
    background-color: white !important;
}

.tab-content {
    padding-top: 20px;
    min-height: 500px;
}